* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.white {
  background-color: white;
}

.black {
  background-color: grey;
}

#board {
  border: solid black 5px;
  height: 65vh;
  width: 65vh;
}

#files {
  height: 2vh;
  width: 65vh;
  /* background-color: #f3e290; */
  text-align: center;
}

#ranksLeft {
  height: 65vh;
  width: 2vh;
  /* background-color: #c5f390; */
  margin-left: 50%;
  margin-top: 100%;
  text-align: center;
  vertical-align: middle;
  border: none;
}

#ranksRight {
  height: 65vh;
  width: 2vh;
  /* background-color: #c5f390; */
  margin-right: 70%;
  margin-top: 100%;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.card {
  margin-top: 1%;
}

td {
  max-width: 50px;
  max-height: 50px;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

body {
  margin: 0;
  height: 100vh;
}

#piece {
  z-index: 999;
}

.col-1 img,
#logo {
  height: 40px;
  width: 35px;
  position: absolute;
  margin-left: -16px;
  margin-top: 16px;
}

.white:hover,
.black:hover {
  -webkit-box-shadow: inset 0 0 40px #080100;
          box-shadow: inset 0 0 40px #080100;
}

/* Turn Indicators for White and Black */
#turnContainer {
  margin-top: 5%;
}

#mainContainer {
  max-width: 1200px;
}

#logo {
  margin-top: 0;
  margin-left: 0;
  margin-right: 200%;
}

#navItemSeparator {
  margin-left: 5%;
}

#table td {
  pointer-events: "none";
}

.table-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#settings {
  color: white;
}

footer {
  background-color: #d3d2d2;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5%;
  width: 100%;
  overflow: hidden;
}

footer p {
  text-align: center;
}

#heartSVG {
  margin: 0;
  height: 50%;
}

#ImgTextSeparator {
  margin-left: 3%;
}

#crownLogo {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* game control styles */
.gameControl {
  cursor: pointer;
  opacity: 0.6;
  max-width: 35px;
}

@media only screen and (max-width: 991px) {
  .gameControl {
    max-width: 25px;
  }
}

.gameControl:hover {
  opacity: 1;
}

/* end of game control styles */
/* styles for timer */
.pieWhite {
  width: 80px;
  height: 80px;
  display: block;
  position: relative;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #fff456;
  float: left;
  margin: 2em;
}

.pieBlack {
  width: 80px;
  height: 80px;
  display: block;
  position: relative;
  border-radius: 50%;
  background-color: white;
  border: 3px solid grey;
  float: left;
  margin: 2em;
}

#time {
  font-size: 1.5em;
  position: absolute;
  top: 30%;
  left: 28%;
  color: #999999;
}

#chessBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 992px) {
  #boardContainer {
    border: 5px solid black;
    -ms-grid-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
        grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    -ms-grid-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
    background-color: #d8c5c5;
    display: -ms-grid;
    display: grid;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border: 5px solid black;
    max-width: 800px;
  }
  #boardContainer .div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    max-width: 100px;
    max-height: 100px;
  }
}

@media only screen and (max-width: 991px) {
  #boardContainer {
    background-color: #d8c5c5;
    display: -ms-grid;
    display: grid;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border: 2px solid black;
    max-width: 800px;
    -ms-grid-columns: 45px 45px 45px 45px 45px 45px 45px 45px;
        grid-template-columns: 45px 45px 45px 45px 45px 45px 45px 45px;
    -ms-grid-rows: 45px 45px 45px 45px 45px 45px 45px 45px;
        grid-template-rows: 45px 45px 45px 45px 45px 45px 45px 45px;
    grid-gap: 0px;
  }
  #boardContainer .div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    max-width: 100px;
    max-height: 100px;
  }
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.block img {
  max-width: 75px;
  max-height: 75px;
}

@media screen and (max-width: 991px) {
  .block img {
    max-width: 35px;
    max-height: 35px;
  }
}

.white {
  background-color: white;
}

.black {
  background-color: grey;
}

/* Row 1 */
#a8 {
  left: 0vh;
}

#b8 {
  left: 10vh;
}

#c8 {
  left: 20vh;
}

#d8 {
  left: 30vh;
}

#e8 {
  left: 40vh;
}

#f8 {
  left: 50vh;
}

#g8 {
  left: 60vh;
}

#h8 {
  left: 70vh;
}

/* Row 2 */
#a7 {
  left: 0vh;
  top: 10vh;
}

#b7 {
  left: 10vh;
  top: 10vh;
}

#c7 {
  left: 20vh;
  top: 10vh;
}

#d7 {
  left: 30vh;
  top: 10vh;
}

#e7 {
  left: 40vh;
  top: 10vh;
}

#f7 {
  left: 50vh;
  top: 10vh;
}

#g7 {
  left: 60vh;
  top: 10vh;
}

#h7 {
  left: 70vh;
  top: 10vh;
}

/* Row 3 */
#a6 {
  left: 0vh;
  top: 20vh;
}

#b6 {
  left: 10vh;
  top: 20vh;
}

#c6 {
  left: 20vh;
  top: 20vh;
}

#d6 {
  left: 30vh;
  top: 20vh;
}

#e6 {
  left: 40vh;
  top: 20vh;
}

#f6 {
  left: 50vh;
  top: 20vh;
}

#g6 {
  left: 60vh;
  top: 20vh;
}

#h6 {
  left: 70vh;
  top: 20vh;
}

/* End of Row 3 */
/* Row 4 */
#a5 {
  left: 0vh;
  top: 30vh;
}

#b5 {
  left: 10vh;
  top: 30vh;
}

#c5 {
  left: 20vh;
  top: 30vh;
}

#d5 {
  left: 30vh;
  top: 30vh;
}

#e5 {
  left: 40vh;
  top: 30vh;
}

#f5 {
  left: 50vh;
  top: 30vh;
}

#g5 {
  left: 60vh;
  top: 30vh;
}

#h5 {
  left: 70vh;
  top: 30vh;
}

/* End of Row 4 */
/* Row 5 */
#a4 {
  left: 0vh;
  top: 40vh;
}

#b4 {
  left: 10vh;
  top: 40vh;
}

#c4 {
  left: 20vh;
  top: 40vh;
}

#d4 {
  left: 30vh;
  top: 40vh;
}

#e4 {
  left: 40vh;
  top: 40vh;
}

#f4 {
  left: 50vh;
  top: 40vh;
}

#g4 {
  left: 60vh;
  top: 40vh;
}

#h4 {
  left: 70vh;
  top: 40vh;
}

/* End of Row 5 */
/* Row 6 */
#a3 {
  left: 0vh;
  top: 50vh;
}

#b3 {
  left: 10vh;
  top: 50vh;
}

#c3 {
  left: 20vh;
  top: 50vh;
}

#d3 {
  left: 30vh;
  top: 50vh;
}

#e3 {
  left: 40vh;
  top: 50vh;
}

#f3 {
  left: 50vh;
  top: 50vh;
}

#g3 {
  left: 60vh;
  top: 50vh;
}

#h3 {
  left: 70vh;
  top: 50vh;
}

/* End of Row 6 */
/* Row 7 */
#a2 {
  left: 0vh;
  top: 60vh;
}

#b2 {
  left: 10vh;
  top: 60vh;
}

#c2 {
  left: 20vh;
  top: 60vh;
}

#d2 {
  left: 30vh;
  top: 60vh;
}

#e2 {
  left: 40vh;
  top: 60vh;
}

#f2 {
  left: 50vh;
  top: 60vh;
}

#g2 {
  left: 60vh;
  top: 60vh;
}

#h2 {
  left: 70vh;
  top: 60vh;
}

/* End of Row 7 */
/* Row 8 */
#a1 {
  left: 0vh;
  top: 70vh;
}

#b1 {
  left: 10vh;
  top: 70vh;
}

#c1 {
  left: 20vh;
  top: 70vh;
}

#d1 {
  left: 30vh;
  top: 70vh;
}

#e1 {
  left: 40vh;
  top: 70vh;
}

#f1 {
  left: 50vh;
  top: 70vh;
}

#g1 {
  left: 60vh;
  top: 70vh;
}

#h1 {
  left: 70vh;
  top: 70vh;
}

/* End of Row 8 */
/*# sourceMappingURL=ChessBoard.css.map */